<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search for Debt</title>
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css')}}">

</head>
<body>


  <h3>Making College Affordable Again!</h3>
  {% include 'searchbox.html' %}
  <p>Sending your spoiled brats to college can cost quite a bit of dough. To make things easier on you and the family, here's a ranking	of colleges based on the average student debt upon graduation. Sort schools by "high debt" or "low debt."

  <p>Data comes from <a href="https://collegescorecard.ed.gov/downloads/Most-Recent-Cohorts-Scorecard-Elements.csv">the College Scorecard. WARNING = Clicking the link will cause a rather large file to download.</a></p>

</body>
</html>